.header {
  font-family: 'Mystery Quest', cursive;
  font-size:xx-large;
  color:purple;

}
/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: purple;
}

/* selected link */
a:active {
    color: purple;
}

body {
  font-family: arial, verdana, sans-serif;
	font-size:small;
	color: #000000;
	margin: 0px;
	padding-left: 10px;
	text-align:left;
  color:purple;

	background-color:white;
}
