<div class='new_riddle_form'>
  {{input type='text' placeholder='Riddle Name' value=riddle_name class='riddle_input'}}
  {{input type='text' placeholder='Riddle' value=riddle_text class='riddle_input'}}
  <button {{action 'addRiddle'}} class='submit'>Submit</button>
</div>
