<div class='new-riddle-link'>{{#link-to 'riddles.new-riddle'}}ADD A NEW RIDDLE:{{/link-to}}</div>

<ul>
  {{#each riddle in model}}
    <li>{{#link-to 'riddle' riddle.id}}{{riddle.riddle_text}}{{/link-to}}</li>
  {{/each}}
</ul>

{{outlet}}
