<h2>Answers</h2>

{{model.riddle_text}}

<div class='new-riddle-link'>{{#link-to 'riddle.new_answer'}}Add an answer{{/link-to}}</div>

<ul>
  {{#each answer in model.answers}}
    <li>{{answer.answer_text}} Posted on:  {{answer.answer_date}}</li>
  {{/each}}
</ul>

{{outlet}}
