<div class='header'>
  Answers
</div>

{{model.riddle_text}}

<div class='new-riddle-link'>{{#link-to 'riddle.new_answer'}}ADD AN ANSWER:{{/link-to}}</div>

<ul>
  {{#each answer in model.answers}}
    <li>{{answer.answer_text}}&nbsp;&nbsp;&nbsp;<span class='timestamp'>&nbsp;&nbsp;posted on:&nbsp;{{answer.answer_date}}</span></li>
  {{/each}}
</ul>

{{outlet}}
